# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\중간프로젝트\team4\source\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
