<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>dditServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<!-- <tablib> 태그는 사용할 태그 라이브러리를 지정함 -->
		<taglib>
			<!-- <tablib-uri> 태그는 JSP에서 해당 태그 라이브러리를 참조할 때 사용하는 식별자 -->
			<taglib-uri>/WEB-INF/tlds/el-functions.tld</taglib-uri>
			<!-- <taglib-location> 태그는 태그 라이브러리를 기술한 TLD 파일의 위치를 명시함 -->
			<taglib-location>/WEB-INF/tlds/el-functions.tld</taglib-location>
		</taglib>
	</jsp-config>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- 이름이 logEnable이고, 값이 true인 초기화 파라미터를 설정함 -->
	<context-param>
		<description>로깅 여부</description>
		<param-name>logEnable</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- 이름이 debugLevel이고, 값이 5인 초기화 파라미터를 설정함 -->
	<context-param>
		<description>디버깅 레벨</description>
		<param-name>debugLevel</param-name>
		<param-value>5</param-value>
	</context-param>

	<error-page>
		<error-code>404</error-code>
		<location>/chapter06/error/error404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/chapter06/error/errorNullPointer.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/chapter06/error/errorNullPointer.jsp</location>
	</error-page>
</web-app>