<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>sview</title>
    <style>
        div {
            border: 3px solid blue;
            padding: 0 20px 20px 20px;
            margin: 5px;
        }

        label {
            display: inline-block;
            text-align: center;
            margin: 3px;
        }

        input {
            margin: 3px;
        }
    </style>
    <script src="js/jquery-3.5.1.js"></script>
    <script>
        function fn_submit() {
            result = "["
            {% for s in list %}
            result += "{'survey_id': '{{survey_id}}',"
            result += "'s_seq': '{{s.s_seq}}',"
            result += "'mobile': '{{mobile}}',"
            result += "'answer': '" + $('input[name={{s.s_seq}}answer]:checked').val() + "'},";
            {% endfor %}
            result += "]"
            $.ajax({
                url: "sview_add.ajax",
                data: "result=" + result,
                dataType: "json",
                type: "post",
                async: false,
                statusCode: {
                    404: function () {
                        alert("네트워크가 불안정합니다. 다시 시도부탁드립니다.");
                    }
                },
                success: function (data) {
                    if (data.msg == "ok") {
                        alert("정상적으로 제출되었습니다.");
                    } else {
                        alert("제출 도중 문제가 생겼습니다");
                    }
                }
            });
        }
    </script>
</head>
<body>
<form>
    <h1>{{mobile}}님의 설문조사 {{survey_id}}</h1>
    {% for s in list %}
    <div>
        <h3>{{s.s_seq}}. {{s.question}}</h3>
        <input type="radio" name="{{s.s_seq}}answer" id="{{s.s_seq}}a1" value="1"><label for="{{s.s_seq}}a1">{{s.a1}}</label><br/>
        <input type="radio" name="{{s.s_seq}}answer" id="{{s.s_seq}}a2" value="2"><label for="{{s.s_seq}}a2">{{s.a2}}</label><br/>
        <input type="radio" name="{{s.s_seq}}answer" id="{{s.s_seq}}a3" value="3"><label for="{{s.s_seq}}a3">{{s.a3}}</label><br/>
        <input type="radio" name="{{s.s_seq}}answer" id="{{s.s_seq}}a4" value="4"><label for="{{s.s_seq}}a4">{{s.a4}}</label><br/>
    </div>
    {% endfor %}
    <input type="button" value="제출하기" onclick="fn_submit()"><input type="reset" value="초기화">
</form>
<br/>all right reserved by aimaker.kr
</body>
</html>