{% extends 'layout.html' %}

{% block content %}
<script>
    function setData(user_id, pwd, user_name, mobile, email, birth) {
        $('#user_id').val(user_id);
        $('#pwd').val(pwd);
        $('#user_name').val(user_name);
        $('#mobile').val(mobile);
        $('#email').val(email);
        $('#birth').val(birth);
    }

    function fn_add() {
        let user_id = $('#user_id').val();
        let pwd = $('#pwd').val();
        let user_name = $('#user_name').val();
        let mobile = $('#mobile').val();
        let email = $('#email').val();
        let birth = $('#birth').val();

        let param = "";
        param += "dummy=" + Math.random();
        param += "&user_id=" + user_id;
        param += "&pwd=" + pwd;
        param += "&user_name=" + user_name;
        param += "&mobile=" + mobile;
        param += "&email=" + email;
        param += "&birth=" + birth;
        console.log(param)

        $.ajax({
            url: "suser_ins.ajax",
            data: param,
            dataType: "json",
            type: "post",
            async: false,
            statusCode: {
                404: function () {
                    alert("네트워크가 불안정합니다. 다시 시도부탁드립니다.");
                }
            },
            success: function (data) {
                if (data["msg"] === "ok") {
                    location.reload()
                } else {
                    alert("추가 도중 문제가 발생하였습니다.");
                }
            }
        });
    }

    function fn_upd() {
        let user_id = $('#user_id').val();
        let pwd = $('#pwd').val();
        let user_name = $('#user_name').val();
        let mobile = $('#mobile').val();
        let email = $('#email').val();
        let birth = $('#birth').val();

        let param = "";
        param += "dummy=" + Math.random();
        param += "&user_id=" + user_id;
        param += "&pwd=" + pwd;
        param += "&user_name=" + user_name;
        param += "&mobile=" + mobile;
        param += "&email=" + email;
        param += "&birth=" + birth;
        console.log(param)

        $.ajax({
            url: "suser_upd.ajax",
            data: param,
            dataType: "json",
            type: "post",
            async: false,
            statusCode: {
                404: function () {
                    alert("네트워크가 불안정합니다. 다시 시도부탁드립니다.");
                }
            },
            success: function (data) {
                if (data["msg"] === "ok") {
                    location.reload()
                } else {
                    alert("수정 중 문제가 발생하였습니다.");
                }
            }
        });
    }

    function fn_del() {
        let user_id = $('#user_id').val();
        let pwd = $('#pwd').val();
        let user_name = $('#user_name').val();
        let mobile = $('#mobile').val();
        let email = $('#email').val();
        let birth = $('#birth').val();

        let param = "";
        param += "dummy=" + Math.random();
        param += "&user_id=" + user_id;
        param += "&pwd=" + pwd;
        param += "&user_name=" + user_name;
        param += "&mobile=" + mobile;
        param += "&email=" + email;
        param += "&birth=" + birth;
        console.log(param)

        $.ajax({
            url: "suser_del.ajax",
            data: param,
            dataType: "json",
            type: "post",
            async: false,
            statusCode: {
                404: function () {
                    alert("네트워크가 불안정합니다. 다시 시도부탁드립니다.");
                }
            },
            success: function (data) {
                if (data["msg"] === "ok") {
                    location.reload()
                } else {
                    alert("삭제 중 문제가 발생하였습니다.");
                }
            }
        });
    }
</script>
<table border="1">
    <tr>
        <td>
            <table border="1">
                <tr>
                    <th>user_id</th>
                    <th>pwd</th>
                    <th>user_name</th>
                    <th>mobile</th>
                    <th>email</th>
                    <th>birth</th>
                    <th>in_date</th>
                    <th>in_user_id</th>
                    <th>up_date</th>
                    <th>up_user_id</th>
                </tr>
                {% for suser in susers %}
                <tr>
                    <td><a href="javascript:setData({{suser.get('user_id')}}, {{suser.get('pwd')}}, {{suser.get('user_name')}}, {{suser.get('mobile')}}, {{suser.get('email')}}, {{suser.get('birth')}})">{{suser.get('user_id')}}</a></td>
                    <td>{{suser.get('pwd')}}</td>
                    <td>{{suser.get('user_name')}}</td>
                    <td>{{suser.get('mobile')}}</td>
                    <td>{{suser.get('email')}}</td>
                    <td>{{suser.get('birth')}}</td>
                    <td>{{suser.get('in_date')}}</td>
                    <td>{{suser.get('in_user_id')}}</td>
                    <td>{{suser.get('up_date')}}</td>
                    <td>{{suser.get('up_user_id')}}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td><label>user_id</label><input type="text" name="user_id" id="user_id"></td>
                </tr>
                <tr>
                    <td><label>pwd</label><input type="text" name="pwd" id="pwd"></td>
                </tr>
                <tr>
                    <td><label>user_name</label><input type="text" name="user_name" id="user_name"></td>
                </tr>
                <tr>
                    <td><label>mobile</label><input type="text" name="mobile" id="mobile"></td>
                </tr>
                <tr>
                    <td><label>email</label><input type="text" name="email" id="email"></td>
                </tr>
                <tr>
                    <td><label>birth</label><input type="text" name="birth" id="birth"></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="추가" onclick="fn_add()">
                        <input type="button" value="수정" onclick="fn_upd()">
                        <input type="button" value="삭제" onclick="fn_del()">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
